<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='./img/favicon.ico') }}">
    <style>
        #title,
        div.player,
        div.next {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #next {
            font-weight: bold;
            font-size: x-large;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>

<body>
    <div>
        <h2 id="title">{{title}}</h2>
        <div class="player">
            <audio src="{{src}}" controls autoplay></audio>
        </div>
    </div>
    <br>
    <div class="next"><button id="next">next</button></div>
</body>

<script>
    const audio = document.querySelector('audio')
    function next() {
        $.ajax({
            url: '/random', method: 'GET',
            success: function (res) {
                audio.src = '/music/' + res
                $('head > title').text(res)
                $('#title').text(res)
            },
            error: function (err) { alert(err) }
        })
    }
    audio.onended = next
    $('#next').on('click', next)
</script>

</html>