<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
</head>

<body>

    <body>
        <div class="container">
            <div class="login-form">
                <input type="password" name="password" id="password" placeholder="密码" />
            </div>
        </div>
    </body>
</body>

</html>